.arena{
    display: flex;
    height: 300px;
    background-image: url('./fondo.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#poke{
    height: 150px;
    position: fixed;
    top: 240px;
    left: 100px;
}
#poke2{
    height: 150px;
    position: fixed;
    top: 150px;
    left: 300px;
}